  <% @plots.each do |plot| %>
  <div class="plot-<%= plot.id %>">
     Plot: <%= plot.number %>
    <% plot.plants.each do |plant| %>
    <div class="plant-<%= plant.id %>">
     Plant: <%= plant.name %>
      <%= button_to "Remove Plant", plot_plant_path(plant), method: :patch, params: { number: 0 }%>
     </div>
    <% end %>
    </div>
  <% end %>